body {
  background-image: url(./login_background.jpg);
  background-size: cover;
}

.Login_container {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

Button {
  margin-top: 3%
}
