body, html {
  height: 100%;
}

body {
  background-image: url(./login_background.jpg);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.PlaylistGenerator_container {
  padding: 0;
  margin: 0;
  padding-top: 11%;
}

.user1-form-multi-select {
  font-size: 2em;
}

.user2-form-multi-select {
  margin-top: 5%;
  font-size: 2em;
}

.playlistgenerator-button {
  margin-top: 5%;
  margin-left: 15px;
}

.playlistgenerator-photo-credit a {
  color: #f00;
}
