body, html {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(./login_background.jpg);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.PlaylistGenerator_container {
  padding: 0;
  margin: 0;
  padding-top: 8%;
  height: 100%;
}

.user1-form-multi-select {
  font-size: 4em;
}

.user2-form-multi-select {
  margin-top: 4%;
  font-size: 4em;
}

.user1-form-multi-select-options {
  font-size: 0.6em;
}

.user2-form-multi-select-options {
  font-size: 0.6em;
}

.playlist-name {
  margin-top: 4%;
  font-size: 4em;
}

.playlist-name-form {
  font-size: 0.6em;
}

.playlistgenerator-button {
  margin-top: 4%;
  margin-left: 15px;
  font-size: 2em;
}

.playlistgenerator-photo-credit a {
  color: #f00;
}
