/* .hero {
   background:hsl(348, 100%, 61%) url(../images/background-desktop.jpg) center / cover;
   font-family: 'Permanent Marker', cursive;
}

.hero-body {
   padding-bottom: 2px;
   padding-top: 2px;
}

.title, 
.subtitle {
   color:black;
}

.one-character {
   font-size: 16rem;
}

.top, 
.right, 
.bottom, 
.left {
   display: flex;
   justify-content: center;
   align-items: center;
}

.top {
   align-items: flex-start;
}

.bottom {
   align-items: flex-end;
}

.right {
   justify-content: flex-end;
}

a {
   color: #fff;
} 

a:hover  {
   text-decoration: none;
}

.one-character {
   font-size: 11rem;
}

.post-character {
   font-size: 1.5rem;
}

.button-size {
   font-size: 2rem;
}

.margin-bottom {
   margin-bottom: 4px;
}

.margin-left {
   margin-left: 4px;
}

.gap-between-button-and-title {
   margin-top: 60px;
}

.is-inline-block {
   display: inline-block;
}

.button-font-adjust {
   font-family: 'Permanent Marker', cursive;
}

.responsive-size {
   font-size: 1rem !important;
 }

 .neon {
   -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
   -moz-animation: neon1 1.5s ease-in-out infinite alternate;
   animation: neon1 .4s ease-in-out infinite alternate;
}

.neon:hover {
   color: #F01177;
   -webkit-animation: none;
   -moz-animation: none;
   animation: none;
}

@-webkit-keyframes neon1 {
   from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
   }
   to {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
   }
 }

 @-moz-keyframes neon1 {
   from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
   }
   to {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
   }
 }

 @keyframes neon1 {
   from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
   }
   to {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
   }
 }


@media (max-width: 768px) {
   .hero {
      background:hsl(348, 100%, 61%) url(../images/background-touch.jpg) center / cover
   }

   .one-character {
      font-size: 9rem;
   }

   .button-size {
      font-size: 1.4rem;
   }

   .post-character {
      font-size: 1.3rem;
   }

   .responsive-size {
      font-size: 0.8rem !important;
    }

    .gap-between-button-and-title {
      margin-top: 40px;
   }
}

@media (max-width: 420px) {
   .hero {
      background:hsl(348, 100%, 61%) url(../images/background-touch.jpg) center / cover
   }

   .one-character {
      font-size: 7rem;
   }

   .button-size {
      font-size: 1.2rem;
   }

   .responsive-size {
      font-size: 0.6rem !important;
    }

    .gap-between-button-and-title {
      margin-top: 20px;
   }

} */
