.hero-body {
   /* font-family: 'Modak', cursive; */
   padding-bottom: 2px;
   padding-top: 2px;
}

.hero {
   background:red url(../images/background-desktop.jpg) center / cover;
   font-family: 'Permanent Marker', cursive;
}

.title, 
.subtitle {
   color:black;
}

.one-character {
   font-size: 16rem;
}

.top, 
.right, 
.bottom, 
.left {
   display: flex;
   justify-content: center;
   align-items: center;
}

.top {
   align-items: flex-start;
}

.bottom {
   align-items: flex-end;
}

.right {
   justify-content: flex-end;
}

a:hover {
   text-decoration: none;
}

a {
   color: #fff;
}

.one-character {
   font-size: 11rem;
}

.post-character {
   font-size: 1.5rem;
}

.button-size {
   font-size: 2rem;
}

.margin-bottom {
   margin-bottom: 4px;
}

.margin-left {
   margin-left: 4px;
}

.gap-between-button-and-title {
   margin-top: 60px;
}

.is-inline-block {
   display: inline-block;
}

.button-font-adjust {
   font-family: 'Permanent Marker', cursive;
}

.responsive-size {
   font-size: 1rem !important;
 }

@media (max-width: 768px) {
   .hero {
      background:red url(../images/background-touch.jpg) center / cover
   }

   .one-character {
      font-size: 9rem;
   }

   .button-size {
      font-size: 1.4rem;
   }

   .post-character {
      font-size: 1.3rem;
   }

   .responsive-size {
      font-size: 0.8rem !important;
    }

    .gap-between-button-and-title {
      margin-top: 40px;
   }
}

@media (max-width: 420px) {
   .hero {
      background:red url(../images/background-touch.jpg) center / cover
   }

   .one-character {
      font-size: 7rem;
   }

   .button-size {
      font-size: 1.2rem;
   }

   .responsive-size {
      font-size: 0.6rem !important;
    }

    .gap-between-button-and-title {
      margin-top: 20px;
   }

}
