.hero {
   background:red url(./images/background-desktop.jpg) center / cover
}

.one-character {
   font-size: 11rem;
}

.top, 
.right, 
.bottom, 
.left {
   display: flex;
   justify-content: center;
   align-items: center;
}

.top {
   align-items: flex-start;
}

.bottom {
   align-items: flex-end;
}

.right {
   justify-content: flex-end;
}


.no-padding-bottom {
   padding-bottom: none !important;
}

.no-padding-top {
   padding-top: none !important;
}

@media (max-width: 1024px) {
   .one-character {
      font-size: 11rem;
   }
}

@media (max-width: 768px) {
   .hero {
      background:red url(./images/background-touch.jpg) center / cover
   }

   .one-character {
      font-size: 7rem;
   }
}

@media (max-width: 350px) {
   .hero {
      background:red url(./images/background-touch.jpg) center / cover
   }

   .one-character {
      font-size: 6rem;
   }
}
