/* SPACING AND FONT SIZE*/
 .labelSize {
    font-size: 2rem;
 }

 .labelColour {
    color: #000;
 }

 .formSpacing {
    margin-bottom: 3rem !important;
 }

 /* SPACING AND SIZE*/
 
 /* DISPLAY, ALIGHMENT */
 
 /* DISPLAY, ALIGHMENT */

 /* COLOUR  */

 /* COLOUR  */
 
 /* MISC */

 /* MISC */
 
 /* MEDIA QUERY */
 
 @media (max-width: 1470px) {
   .labelColour {
      color: #fff;
   }

   .formBackground {
      background-color: rgba(255, 56, 96, 0.7);
      border-radius: 4px;
      padding: 0.7rem;
    }

}

 @media (max-width: 768px) {
   .labelSize {
      font-size: 1.5rem;
   }

   .formBackground {
      background-color: rgba(255, 56, 96, 0.7);
      border-radius: 4px;
      padding: 0.5rem;
    }

 }
 
 @media (max-width: 640px) {

 }
 
 @media (max-width: 420px) {
   .labelSize {
      font-size: 1.3rem;
   }
 }
 
 /* MEDIA QUERY */