/* .hero {
   background:red url(../images/background-desktop.jpg) center / cover
}

.one-character {
   font-size: 11rem;
}

.top, 
.right, 
.bottom, 
.left {
   display: flex;
   justify-content: center;
   align-items: center;
}

.top {
   align-items: flex-start;
}

.bottom {
   align-items: flex-end;
}

.right {
   justify-content: flex-end;
}


.no-padding-bottom {
   padding-bottom: none;
}

.no-padding-top {
   padding-top: none;
}

a:hover {
   text-decoration: none;
}

a {
   color: #fff;
}

.one-character {
   font-size: 11rem;
}

.post-character {
   font-size: 1.5rem;
}

.button-size {
   font-size: 2rem;
}

@media (max-width: 768px) {
   .hero {
      background:red url(../images/background-touch.jpg) center / cover
   }

   .one-character {
      font-size: 7rem;
   }

   .button-size {
      font-size: 1.4rem;
   }

   .post-character {
      font-size: 1.3rem;
   }
}

@media (max-width: 350px) {
   .hero {
      background:red url(../images/background-touch.jpg) center / cover
   }

   .one-character {
      font-size: 6rem;
   }

   .button-size {
      font-size: 1.2rem;
   }
} */
