/* body, html {
  height: 100%;
}

html {
  font-size: 62.5%;
}

.PlaylistGenerator_container {
  padding: 0;
  margin: 0;
  padding-top: 8%;
  height: 100%;
}

.user1-form-multi-select {
  font-size: 4em;
}

.user2-form-multi-select {
  margin-top: 4%;
  font-size: 4em;
}

.user1-form-multi-select-options {
  font-size: 0.6em;
}

.user2-form-multi-select-options {
  font-size: 0.6em;
}

.playlist-name {
  margin-top: 4%;
  font-size: 4em;
}

.playlist-name-form {
  font-size: 0.6em;
}

.playlistgenerator-button {
  margin-top: 3%;
  margin-left: 15px;
  font-size: 3em;
}

.playlistgenerator-photo-credit a {
  color: #f00;
}

.playlistgenerator-photo-credit {
  font-size: 1.5em;
} */

